---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ravendb.ravendb.io
  resources:
  - ravendbclusters
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ravendb.ravendb.io
  resources:
  - ravendbclusters/finalizers
  verbs:
  - update
- apiGroups:
  - ravendb.ravendb.io
  resources:
  - ravendbclusters/status
  verbs:
  - get
  - patch
  - update
