---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.15.0
  name: ravendbclusters.ravendb.ravendb.io
spec:
  group: ravendb.ravendb.io
  names:
    kind: RavenDBCluster
    listKind: RavenDBClusterList
    plural: ravendbclusters
    singular: ravendbcluster
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: RavenDBCluster is the Schema for the ravendbclusters API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: RavenDBClusterSpec defines the desired state of RavenDBCluster
            properties:
              foo:
                description: Foo is an example field of RavenDBCluster. Edit ravendbcluster_types.go
                  to remove/update
                type: string
            type: object
          status:
            description: RavenDBClusterStatus defines the observed state of RavenDBCluster
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
